{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Конструктор сайта</title>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card mb-3">
                <h5 class="card-header border-secondary mx-auto">Конструктор торта</h5>

                {% csrf_token %}

                <div class="m-2">
                    <label for="FormControlCategory1" class="form-label"></label>
                    <select class=" form-control form-control-md" name="category" id="FormControlCategory1">
                        <option value="none">Количество уровней</option>
                        {% for component in components %}
                            <option value="{{ category.id }}">{{ component.level }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-2">
                    <label for="FormControlCategory2" class="form-label"></label>
                    <select class=" form-control form-control-md" name="category" id="FormControlCategory2">
                        <option value="none">Выбрать форму</option>
                        {% for component in components %}
                            <option value="{{ category.id }}">{{ component.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-2">
                    <label for="FormControlCategory3" class="form-label"></label>
                    <select class=" form-control form-control-md" name="category" id="FormControlCategory3">
                        <option value="none">Выбрать топпинг</option>
                        {% for component in components %}
                            <option value="{{ category.id }}">{{ component.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-2">
                    <label for="FormControlCategory4" class="form-label"></label>
                    <select class=" form-control form-control-md" name="category" id="FormControlCategory4">
                        <option value="none">Выбрать ягоды</option>
                        {% for component in components %}
                            <option value="{{ category.id }}">{{ component.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="m-2">
                    <label for="FormControlCategory5" class="form-label"></label>
                    <select class=" form-control form-control-md" name="category" id="FormControlCategory5">
                        <option value="none">Добавить декор</option>
                        {% for component in components %}
                            <option value="{{ category.id }}">{{ component.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                     <label class="form-check-label" for="flexCheckChecked1">
                         Без сахара
                     </label>
                 </div>
                 <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                     <label class="form-check-label" for="flexCheckChecked2">
                         Подходит для веганов </label>
                 </div> -->
                <div class="m-2">
                    <label class="form-label" for="FormControlTextarea"></label>
                    <textarea required name="lettering" class=" form-control" id="FormControlTextarea"
                              placeholder="Ввведите надпись"></textarea>
                    <small id="Help" class="form-text text-muted ">Мы можем разместить на торте любую надпись, например:
                        «С днем рождения!»</small>

                </div>
                <div class="d-grid gap-2 col-6 mx-auto m-4">
                    <button class="btn btn-success" type="submit">Торт готов</button>
                </div>
                <div><h5>Сумма заказа:</h5></div>
                <div class="d-grid gap-2 col-6 mx-auto m-4">
                    <a class="btn btn-primary" href="{% url 'checkout' %}" role="button">Начать оформление заказа</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
