{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Личный кабинет</title>
{% endblock %}
{% block content %}
    <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
        <div class="card-header mx-auto mb-4">Для завершения заказа необходимо заполнить форму регистрации</div>
        <div class="card-body">
            <div class="mb-3">
                <h5 class="card-title">Номер телефона</h5>
                <input class="form-control" id="InputPhoneNumber" aria-describedby="phoneHelp"
                       placeholder="+79991234567" required>
            </div>
            <div class=" mb-2">
                <h5 class="card-title">Имя</h5>
                <input class="form-control" id="InputFirstName" aria-describedby="nameHelp" placeholder="Иван" required>
            </div>
            <div class="mx-auto mb-3">
                <h5 class="card-title">Фамилия</h5>
                <input class="form-control" id="InputSecondName" aria-describedby="surnameHelp" placeholder="Иванов"
                       required>
            </div>
            <div class="mb-3">
                <h5 class="card-title">Ссылка на соцсеть</h5>
                <input class="form-control" id="InputSocial" aria-describedby="socialHelp"
                       placeholder="https://www.instagram.com/pageexample3/">
            </div>
            <div class="mb-3">
                <h5 class="card-title">Адрес доставки</h5>
                <input class="form-control" id="InputAddress" aria-describedby="addressHelp"
                       placeholder="г.Москва, ул. Калинина, д.1" required>
            </div>
            <div class="col-12 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">Согласие на обработку ПД</label>
                    <div class="invalid-feedback">
                        Вы должны согласиться на обработку ПД для завершения регистрации
                    </div>
                </div>
            </div>
            <div class='mb-3'>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    </div>
{% endblock %}